In [1]:
import pandas as pd
import numpy as np
import os
df = pd.read_csv('Test_UploadSheet.csv')
df = df.fillna(False)
df.head()

    image_id     D1     D2     D3     D4     D5
0  39983.jpg  False  False  False  False  False
1  12525.jpg  False  False  False  False  False
2  22134.jpg  False  False  False  False  False
3  07679.jpg  False  False  False  False  False
4  25561.jpg  False  False  False  False  False

In [2]:
data_path = 'yolov5/runs/detect/exp/labels'
txt_list = []
for d in os.listdir(data_path):
    txt_list.append(os.path.join(data_path, d))
print(txt_list[0])

yolov5/runs/detect/exp/labels/00015.txt

In [3]:
for txt in txt_list:
    img = txt.split('/')[-1][:-4]+'.jpg'
    label_list = []
    with open(txt) as f:
        l = f.readline()
        while(l):
            n = int(l[0])
            if n not in label_list:
                label_list.append(n)
            l = f.readline()
    arr = df.loc[df['image_id'] == img].to_numpy()[0]
    arr[np.array(label_list)+1] = True
    df.loc[df['image_id'] == img] = arr

for i in range(len(df)):
    if (df.loc[i][['D1', 'D2', 'D3', 'D4', 'D5']]==False).all():
        arr = df.loc[i].to_numpy()
        arr[2+1] = True
        df.loc[i] = arr

In [4]:
df[['D1', 'D2', 'D3', 'D4', 'D5']]*=1
df.to_csv('result.csv', index=False)

In [5]:
df.loc[1]

image_id    12525.jpg
D1                  0
D2                  0
D3                  0
D4                  1
D5                  0
Name: 1, dtype: object